.roles-page {
  display: flex;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
}

.header h1 {
  margin-bottom: 20px;
}

.module-permissions {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
    
}

.roles-list {
  width: 100%;
}
.name-role{
  color: whitesmoke;
}
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
  text-align: left;
}
td{
  border-bottom: 1px solid #ddd;

}
th {
  background-color: #1b2a4e;

}

.permission-tag {
  background-color: #6ce26c;
  color: white;
  padding: 5px 8px;
  margin: 2px;
  border-radius: 5px;
  display: inline-block;
}
.actions button {
  margin-top: 10px;
  border: none;
  cursor: pointer;
}

.delete-btn {
  background-color: #ff5c5c;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.new-role-card {
  cursor: pointer;
  background-color: #e0f7fa;
  color: #00796b;
  padding: 10px;
  text-align: center;
  margin-top: 10px;
}

.permissions-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
}

.module-permissions {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.module-permissions h3 {
  margin-bottom: 10px;
  color: #000;
}
.role-table{
  display: flex;
  justify-content: center;
}
.module-first-div{
  width: 90px;
}